


div {
  width: max-content;
  font-family: 'Roboto', sans-serif;
  margin:auto;
  font-size: 4em;
  border: 2px solid black;
  margin-top: 15px;
  transition: 2s;
}


div:hover{
  background-color: green;
  border-radius: 50px;
}
