body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}

#container div {
    width: 200px;
    height: 200px
}

#container div:nth-of-type(3) {
  /* align-self: flex-end; */
  flex-grow: 3;
}
